

.haddin{
	display: none;
}
/* login */
.login-header{width:100%;text-align:center;height:30px;font-size:24px;line-height:30px;}
.login{width:750px;position:fixed;border:#ebebeb solid 1px;height:450px;top:33%;left:39%;display:block;background:#ffffff;box-shadow:0px 0px 20px #ddd;z-index:9999;margin-left:-250px;margin-top:-140px;}
.login-title{
-moz-box-shadow: 10px 10px 5px #fff; /* 老的 Firefox */
box-shadow: 10px 10px 5px #a4999980;
	border:3px solid rgba(240, 207, 122, 0.68);border-bottom:none;
	border-top:none;background: #f1cf78;width:100%;margin:8px 0px 0px 0px;text-align:center;line-height:40px;height:40px;font-size:18px;position:relative;}
.login-title span{position:absolute;font-size:12px;right:-20px;top:-30px;background:#ffffff;border:#ebebeb solid 1px;width:40px;height:40px;border-radius:20px;}
.login-title span a{display:block;color:#000 }
.login-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#ebebeb;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;display:none;}
#allmap{
-moz-box-shadow: 10px 10px 5px #fff; /* 老的 Firefox */
box-shadow: 10px 10px 5px #a4999980;border-top:none;border-bottom:none;
	height:450px;width:100%;z-index: 999;border:3px solid #f1cf78;}
#r-result{width:100%;}